[submodule "libraries/ledcontrol"]
	path = libraries/ledcontrol
	url = https://github.com/wayoda/LedControl.git
[submodule "libraries/pid"]
	path = libraries/pid
	url = https://github.com/br3ttb/Arduino-PID-Library.git
